#flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

h1{
    border-style: dashed;
    border-color: whitesmoke;
    margin: 0;
    background-color: gold;
    width: 150px;
    transition: 3s;

    animation-name: multiplecolors;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes colorswitch{
    from{background-color: gold;}
    to{background-color: blue;}
}

@keyframes multiplecolors{
    0%{background-color: rgb(228, 157, 157);}
    25%{background-color: rgb(228, 240, 280); color: gold;}
    50%{background-color: rgb(150, 500, 200);}
    75%{background-color: rgb(180, 400, 190);}
    100%{background-color: rgb(290, 100, 300);}
}

h1:hover{
    width: 300px;
    
}

img{
    width: 200px;
    height: 200px;
    transition: width 2s height 4s;
}

img:hover{
    width: 400px;
    height: 400px;
    transition: 4s;
}

.Rb24{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align:center
    
}
.MX24{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.Uefa{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.damn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.RMFC{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}