#flexbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    gap: 20px;
}

#flexbox div{
    width: 200px;
    height: 200px;
    background-color: grey;
    padding: 40px;
    border-radius: 15px;
}
#flexbox div img{
    width: 80%;
   height: 80%
}

h1{
    margin: 0;
}

.Rb24{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align:center
    
}
.MX24{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.Uefa{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.damn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}